{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>
<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>
<style>
:root{
  --hamann-purple: #3D2C8D;
  --hamann-purple-dark: #2C1F66;
  --msu-green: #18453B;
}

a { color: var(--hamann-purple) !important; }
a:hover { color: var(--hamann-purple-dark) !important; }

.btn, .btn--primary{
  background-color: var(--hamann-purple) !important;
  border-color: var(--hamann-purple) !important;
}

.btn:hover, .btn--primary:hover{
  background-color: var(--hamann-purple-dark) !important;
  border-color: var(--hamann-purple-dark) !important;
}

.masthead {
  border-bottom: 3px solid var(--msu-green) !important;
}
</style>
<!-- end custom head snippets -->
