{% include base_path %}

<div class="list__item" style="margin-bottom: 50px;">
  <article class="archive__item">
    
    <h2 class="archive__item-title" style="color: #3D2C8D; font-size: 1.2em; font-weight: bold; margin-bottom: 15px; border: none;">
      {{ post.title }}
    </h2>

    <table style="border: none; width: 100%; border-collapse: collapse;">
      <tr>
        <td style="border: none; padding: 0; vertical-align: top;">
          {% if post.citation %}
            <p style="margin-bottom: 20px; font-size: 1.0em; color: #333;">{{ post.citation }}</p>
          {% endif %}

          {% if post.paperurl %}
            <a href="{{ post.paperurl }}" class="btn btn--primary" style="padding: 5px 15px; font-size: 0.8em;">Link</a>
          {% endif %}
        </td>

        {% if post.teaser %}
        <td style="border: none; padding: 0 0 0 30px; vertical-align: top; width: 350px;">
          <img src="{{ post.teaser | relative_url }}" style="width: 350px; border: 1px solid #ddd; border-radius: 4px;">
        </td>
        {% endif %}
      </tr>
    </table>

  </article>
</div>
